.metIntroLeft {
    max-width: 100%;
    object-fit: cover;
    height: 50vh;

}

.metIntro-container {
    background-color: #f9a03f;
    padding-top: 5%;
    position: relative;
}

.intro-Title {
    font-weight: 700;
    color: #f9a03f;
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
    background-color: #ffff;
    font-size: 40px;
    border: 2px solid white;
    width: 20%;
    text-align: center;
    position: relative;
}

.intro-sub {
    color: #ffff;
    font-size: 20px;
    font-weight: 450;
}

.bar-container {
    display: flex;
}

.empty-bar {
    background-color: #fff;
    clip-path: polygon(40% 0, 100% 0, 60% 100%, 0% 100%);
    width: 5%;
    height: 50px;
}

.metIntroDesc-container {
    position: relative;
}

.metIntroQuote {
    position: absolute;
    right: 20%;
    background-color: rgb(252, 248, 20);
    padding: 1%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.metIntroDetail-container {
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(255, 255, 255, 0.99);
    bottom: 0%;
    border-radius: 10px;
    
}

.table-head{
    font-size: 30px;
    margin: 2px;
    border-right: 2px solid black;
    text-align: left;

}

.table-data{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.metIntrotable{
    margin: 20px;
}